<!-- <nav #subNav
     class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="./certificate"
         routerLinkActive="active">Certificate</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
         routerLink="./support"
         routerLinkActive="active">Support</a>
    </li>
  </ul>
</nav> -->

<h3>
  Hello this is configure component! This is not necessarily created if certificate and support components don't have any shared html.
</h3>

<router-outlet></router-outlet>
